.env
vendor
storage/documents
storage/cache
storage/backups
storage/events
storage/legislative_agendas
storage/logs
storage/news
storage/consultations
storage/profile-photos

# composer.lock
*.sql
*.py

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

.vscode/*
!.vscode/extensions.json
package-lock.json
build
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?